body{
    margin:0;
    font-family: Combo;
    box-sizing: border-box;
    background-color: rgb(231, 230, 230);
    overflow-x: hidden;
    overflow-y: hidden;
}

.wrapper
{
    position: absolute;
    top:0;
    bottom:0;
    left:0;
    right:0;
}

.image
{
    height:50px;
    width:50px;
    object-fit: contain;
    object-position: center;
    position: absolute;
    z-index: -100;
    top:1000px;
    animation-name:background-move;
    animation-duration: 4s;
    animation-fill-mode: both;
    animation-timing-function: ease;
}

.image2{
    height:50px;
    width:50px;
    object-fit: contain;
    object-position: center;
    position: absolute;
    z-index: -100;
    top:1000px;
    animation-name:background-move2;
    animation-duration: 4s;
    animation-fill-mode: both;
    animation-timing-function: ease;
}


@keyframes background-move
{
    from
    {
        top:700px;
        right:100px;
        transform: rotateZ(20deg);
    }

    to 
    {
        top:-10px;
        right:1000px;
        transform: rotateZ(1000deg);
    }
}

@keyframes background-move2
{
    from
    {
        top:700px;
        left:100px;
        transform: rotateZ(-20deg);
    }

    to 
    {
        top:-10px;
        left:1000px;
        transform: rotateZ(-1000deg);

    }
}

.backgroundetails
{
    width:100%;
    background-color: rgb(33, 45, 71);

    position: relative;
    height:300px;
    top:300px;
    animation-name:popup;
    animation-duration: 3s;
    display:flex;
    justify-content: space-between;
    
}
.description-left
{

    display:flex;
    flex-direction: column; 
    align-items: center;
}
.top 
{
    color:rgb(255, 255, 255);
    font-weight: 700;
    font-size: 25px;
    padding-top:10px;
    animation-name:size-up;
    animation-duration:2s;
    animation-timing-function: ease-out;
    margin-bottom:10px;
   
    
}
.profile-image
{
    width:300px;
    display:relative;
}
.pp
{
    width:300px;
    height:300px;
    object-position: center;
    object-fit: cover;
    position:relative;
  
     
}
.below{
    height:150px;
}
.below p
{
   position: relative;
   padding-right: 20px;
   padding-left:20px;
   color:rgb(255, 255, 255);
   flex-wrap: wrap;
   font-size: 16px;
   line-height: 1.5;
   opacity: 0;
   animation-name:opac;
   animation-duration: 4s;
   animation-fill-mode: both;
}
.button
{
    
    border: none;
    width: 120px;
    display:flex;
    margin-top: 20px;
    align-items: center;
    padding:14px;
    background-image: linear-gradient(to right, #66df41 0%, #60b94e 50%, #3ad10c 100%);
    box-shadow: 0 0 20px rgba(0, 0, 0, .5);
    transition: color .3s, background-color .3s, box-shadow .3s;
}

.symbol
{
    margin-right:20px;
}

.button:hover
{
    color: white;
    background-image: linear-gradient(to right, #88f566 0%, #57ec39 50%, #8df16e 100%);
    box-shadow: 0 0 20px rgba(255, 255, 255, .5);
    cursor:pointer;

}

.button:active
{
    color:white;
    background-color: black;
    box-shadow: 0 0 20px rgba(0, 0, 0, 0);
}
.socialbar
{
    width:270px;
    margin-top:10px;
    z-index:100;
    position: relative;
    display:flex;
    justify-content: space-around;
    align-items: center;
    
}

.github-con, .fiverr-con, .linkedln-con
{
  position:relative;
  width:30px;
  height:30px;
   display: flex;
   justify-content: space-around;
   align-items: center;
   border-radius: 20px;
   transition: padding 1s ;
}
.linkedln-con
{
    background-color: rgb(24, 95, 177);

}

.fiverr-con, .github-con{
    background-color: white;
}


.linkedln-btn, .fiverr-btn, .github-btn
{
    height:15px;
    z-index: 100;
    object-fit: cover;
    object-position: center;
    cursor: pointer;
    justify-content: space-between;

   

}
.linkedln-txt, .github-txt, .fiverr-txt
{
    position: absolute;
    opacity:0;
    color:  rgb(231, 230, 230);
    transition: opacity 3s;
     vertical-align: middle;

}
.linkedln-con:hover, .github-con:hover, .fiverr-con:hover
{
    padding-right:50px;

}
.linkedln-con:hover > .linkedln-txt{

    
     animation-name: opac;
     animation-duration: 4s;
    left:30px;
    font-size:12px;
    color:white;
    font-weight: bold;
    cursor:pointer;
   
}

.github-con:hover > .github-txt
{
    
    animation-name: opac;
     animation-duration: 2s;
    left:40px;
    font-size:12px;
    color:black;
    font-weight: bold;
    cursor:pointer;
}
.fiverr-con:hover> .fiverr-txt
{
    animation-name: opac;
    animation-duration: 2s;
    left:30px;
    font-size:12px;
    color:black;
    font-weight: bold;
    cursor:pointer;
}
.github-btn
{
    height:25px;
}

@keyframes opac
{
    from
    {
        opacity:0;
    }
    to 
    {
        opacity:1;
    }
}


@keyframes popup
{
    from{
        opacity:0;
        top:750px;
    }

    to 
    {
        opacity:1;
        top:300px;
    }
}
@keyframes size-up
{
    from
    {
        font-size: 0px;
    }

}


@media (min-width:0px) and (max-width:799px)
{
    .backgroundetails
    {
        position: relative;
        flex-direction: column;
        justify-content: center;
        align-items: center;
        height:200px;
        background-color: #ffffff00;
    }

 

    .pp, .profile-image{
        width:150px;
        height:150px;
    }
    .socialbar{
     
        width:150px;

        }
    .profile-image
    {
        position: relative;
        top:100px;
    }

    
    .image, .image2{
        display: none;

    }

   
}

@media screen and (max-width:500px) {

    .backgroundetails
    {
        font-size:12px;
        position:absolute;
        left:0;
    }
    .image, .image2{
        display: none;

    }
    
}

