body{

    margin:0;
 
    overflow-x: hidden;
}
.wrapper2
{
    position: sticky;
    top:0;
    bottom:0;
    left:0;
    right:0;
    background-image: url("/beautiful-milky-way-night-sky.jpg");
    background-size: cover;
    width:100%;
    height:100%;
}


.SlideShow
{
    position: relative;
    display: flex;
    position: absolute;
    width:100%;
    Height:300px;
    top:25vh;
    justify-content: center;
    align-items: center;
    animation-name: slowlyappear;
    animation-duration: 2s;
}

.FP
{
     z-index:100;
     width: 500px;
     object-position: center;
     object-fit: cover;
 
}


.lt
{
    margin-right: 15px;
}
.gt
{
    margin-left: 15px;
}
.lt, .gt
{
    width:1.5rem;
    height: 3rem;
    border-style: none;
    box-shadow: #FFF 0 -1px 4px, rgb(4, 179, 233) 0 -1px 10px, #023299 0 -0px 20px,
     rgb(10, 72, 143) 0 -18px 40px, 10px -9px 36px 25px rgba(9, 49, 156, 0);
     color: darkblue;
     font-size: 1.2em;
     border-radius: 10em;
     transition: box-shadow .5s ease-in;
     cursor: pointer;

}

.lt:hover, .gt:hover
{
    box-shadow: #FFF 0 -1px 4px, rgb(233, 78, 7) 0 -1px 10px, #cc7f1a 0 -0px 20px,
     rgb(207, 153, 52) 0 -18px 40px, 10px -9px 36px 25px rgba(250, 2, 2, 0);
} 

.description
{
   
    text-align: center;
    

}
.description > a
{
    color: rgb(99, 200, 231);
    font-size:1.4em;
    justify-content: center;
    padding-top:10px;
    text-shadow: 5px 6px 10px;
    font-weight: bold;
    text-decoration: none;

}
.description > a:hover
{
    color: rgb(223, 130, 54);
    cursor: pointer;

}
.gameDescription

{
    width:100%;
    height:250px;
    z-index:100px;
    position: relative;
    top:200px;
    box-shadow: 0px 0px 10px 15px rgba(0,0,0,0.4);
    animation-name: shrink;
    animation-duration: 3s;
    position: relative;

}
.Text
{
    text-align: center;
    position: absolute;
    top:35px;
    padding-right:30px;
    padding-left:30px;
    color:white;
    font-weight: bold;
    font-size: 20px;
    line-height:1.5;
}
.Text > span
{
    font-style: italic;
    color:red;
}
#text1, #text2, #text3, #text4
{
    display:none;
}
@keyframes slowlyappear
{
   from
   {
    opacity:0;
    top:-200px;

   }
   
}

@media (min-width:0px) and (max-width:800px)
{
     .Text
     {
        width:800px;
     }

}

@keyframes shrink
{
    from
    {
        opacity: 0.1;
        transform: rotateY(360deg);
        transform: rotateX(720deg);
        
     }
    
}