.SampleBox
{
    display: flex;
    flex-basis: 100%;
    height:550px;
    position: relative;
    top: 4vh;
    flex-direction: column;
    box-shadow: 30px 10px 50px 5px;

}

.heading
{
    text-align: center;
    color:rgb(255, 255, 255);
    font-weight: bold;
    word-spacing: 3px;


}
.Wattpad > span
{
    font-style: italic;
    word-spacing: 2px;
    color:white;
    line-height: 1.5;
    font-size: 17px;
    padding:15px;
}
.content
{
    word-spacing: 2px;
    color:white;
    line-height: 1.5;
    font-size: 17px;
    padding:15px;
 

}
.WattpadLink
{
    position: absolute;
    bottom:20px;
     width:50px;
     height:50px;
     right:45%;
     left:45%;
     border-radius: 50px;
     border-style: none;
     display: flex;
     justify-content: space-between;
     align-items: center;
     transition: padding .5s;

}
.WattpadLink:hover
{
    padding-right:110px;
    cursor: pointer;
}
.wattpadimage
{
    object-fit:cover;
    object-position: center;
    width:30px;
    padding-left:4px;

}
.Name
{
  
    color:orange;
    padding-left:7px;
    font-weight: 400;
    font-size:14px;

    visibility: hidden;
    opacity:0;
    
}

.WattpadLink:hover .Name
{
    animation-name: showup;
    animation-duration: .8s;
    animation-timing-function: ease-in-out;
    animation-fill-mode: forwards;
}

@keyframes showup {
    
    from
    {
        visibility: hidden;
        opacity: 0;
    }

    to
    {

        visibility: visible;
        opacity:1;
    }

}
@media (min-width:0px) and (max-width:800px)
{
   
    .SampleBox
{
    display: flex;
    flex-basis: 100%;
    height:400px;
    position: relative;
    top: 4vh;
    flex-direction: column;
    box-shadow: 30px 10px 50px 5px;

}
    .Wattpad
    {
        overflow-y: scroll;

    }
    .WattpadLink
    {
        top:50vh;
    }
    
   
}